{{template "preamble" .}}
<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <a href="/admin/organization" class="block p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Organizations</h5>
        <p class="font-normal text-gray-700">Manage Organization objects (TMF620/632).</p>
    </a>
    <a href="/admin/individual" class="block p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Individuals</h5>
        <p class="font-normal text-gray-700">Manage Individual objects (TMF632).</p>
    </a>
    <a href="/admin/agreement" class="block p-6 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Agreements</h5>
        <p class="font-normal text-gray-700">Manage Agreement objects (TMF651).</p>
    </a>
</div>
{{template "postamble" .}}
