<!doctype html>
<html lang="en">

{{ template "partials/head" . }}

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">

        {{ template "partials/app-header" . }}

        {{ template "partials/app-sidebar" . }}

        <main class="app-main">
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="mb-0 fs-3">Settings</h1>
                        </div>
                        <div class="col-sm-6">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb float-sm-end">
                                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Organizations</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-content">
                <div class="container-fluid">
                </div>
            </div>
    </div>
    </main>

    {{ template "partials/app-footer" . }}

    </div>
    <!--end::app-wrapper-->

    {{ template "partials/foot" . }}
</body>

</html>