<!doctype html>
<html lang="en">

{{ template "partials/head" . }}

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">

        {{ template "partials/app-header" . }}

        {{ template "partials/app-sidebar" . }}

        <main class="app-main">
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="mb-0 fs-3">Settings</h1>
                        </div>
                        <div class="col-sm-6">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb float-sm-end">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Settings</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-content">
                <div class="container-fluid">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">This server: {{ .service.Environment }}</h3>
                        </div>
                        <div class="card-body">
                            <form class="row g-3">
                                <div class="col-md-6">
                                    <label class="form-label" for="settings-vatid"> Organization Identifier </label>
                                    <input type="text" class="form-control" id="settings-vatid"
                                        value="{{ .service.ServerOperatorOrganizationIdentifier }}" />
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="settings-name"> Name </label>
                                    <input type="text" class="form-control" id="settings-name"
                                        value="{{ .service.ServerOperatorName }}" />
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="settings-tmfserver"> TMF Server </label>
                                    <input type="text" class="form-control" id="settings-tmfserver"
                                        value="{{ .service.RemoteTMFServer }}" />
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="settings-loglevel"> Log Level </label>
                                    <input type="text" class="form-control" id="settings-loglevel"
                                        value="{{ .service.LogLevel }}" />
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </main>

        {{ template "partials/app-footer" . }}

    </div>
    <!--end::app-wrapper-->

    {{ template "partials/foot" . }}
</body>

</html>